<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <div class="sketchfab-embed-wrapper">
        <iframe
            src="https://sketchfab.com/models/a0555fa21796480d8b1ff998bdb5ae58/embed"
            title="John Wick (Fortnite)"
            frameborder="0"
            allow="autoplay; fullscreen; xr-spatial-tracking"
            allowfullscreen
            width="640"
            height="480">
        </iframe>
    </div>
</body>
</html>